<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="selection" translate="label" sortOrder="100">
            <label>Product Selection</label>
        </tab>
        <section id="autolaunch" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Auto Launch</label>
            <tab>selection</tab>
            <resource>Itf_Selection::autolaunch_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="status" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Status</label>
                    <source_model>Itf\Selection\Model\Status</source_model>
                </field>
            </group>
        </section>
    </system>
</config>